.Bubbles {
  &-title {
    font-size: 18px;
    margin-left: 30px;

    &-first,
    &-second {
      position: absolute;
      transition: opacity 0.5s ease;
    }

    &-first {
      opacity: 1;
    }

    &-second {
      opacity: 0;
    }
  }

  .xAxis,
  .yAxis {
    opacity: 0;
    &-text {
      opacity: 0;
    }
    transition: opacity 0.5s ease;
  }

  &._isPlot {
    .Bubbles-title {
      &-first {
        opacity: 0;
      }

      &-second {
        opacity: 1;
      }
    }

    .xAxis,
    .yAxis {
      opacity: 1;
      &-text {
        opacity: 1;
      }
    }
    transition: opacity 0.5s ease;
  }

  circle:hover {
    stroke-width: 2px;
    opacity: 1;
  }

  .tooltip {
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-weight: bold;

    width: 40px;
    height: 16px;

    padding: 2px;
    background: rgba(196, 196, 196, 0.4);
    border: 0px;
    border-radius: 6px;
  }

  &-button {
    position: relative;
    left: 600px;
  }

  button {
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    line-height: 9px;
    margin-left: 16px;

    background: #fff;
    border: 1px solid #3d5656;
    border-radius: 6px;

    &:hover {
      background: #3ec70b;
    }

    &:active {
      background: #37b509;
    }

    &:disabled {
      opacity: 0.3;
      background: #fff;
      cursor: auto;
    }
  }
}
